<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="style/style.css" />

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
    ></script>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <header>
          <div class="logo">Nice-Shop</div>
          <div class="cart">
            <form action="#" class="search-form" @submit.prevent="filter">
              <input type="text" class="search-field" v-model="userSearch" />
              <button class="btn-search" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
            <button
              class="cart-button"
              type="button"
              @click="showCart = !showCart"
            >
              Корзина
            </button>
            <div class="cart-block" v-show="showCart">
              <p v-if="!cartItems.length">Cart is empty</p>
              <div
                class="cart-item"
                v-for="item of cartItems"
                :key="item.id_product"
              >
                <div class="product-bio">
                  <img :src="imgCart" alt="Some image" />
                  <div class="product-desc">
                    <p class="product-title">{{item.product_name}}</p>
                    <p class="product-quantity">Quantity: {{item.quantity}}</p>
                    <p class="product-single-price">${{item.price}} each</p>
                  </div>
                </div>
                <div class="right-block">
                  <p class="product-price">${{item.quantity * item.price}}</p>
                  <button class="del-btn" @click="remove(item)">&times;</button>
                </div>
              </div>
            </div>
          </div>
        </header>

        <main>
          <div class="products-list">
            <div
              class="product-item"
              v-for="product of filtered"
              :key="product.id_product"
            >
              <img :src="imgCatalog" alt="Some img" />
              <h3>{{product.product_name}}</h3>
              <p>{{product.price}}</p>
              <button class="btn-add" @click="addProduct(product)">
                Купить
              </button>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
